### {{ name }}

{{ description }}

Learn more at {{ url }}.

Documentation: http://{{ name }}.readthedocs.org/en/latest/

#### License

License: {{ license }}

Copyright (c) {{ year }} {{ author }}.  All Rights Reserved.
