# -*- coding: utf-8 -*-
u"""{{ name }} setup script

{{ copyright_license_rst }}
"""
from pykern.pksetup import setup

setup(
    name='{{ name }}',
    author='{{ author }}',
    author_email='{{ author_email }}',
    description='{{ description }}',
    license='{{ license }}',
    url='{{ url }}',
    classifiers=[
        'Development Status :: 2 - Pre-Alpha',
        'Environment :: Console',
        'Intended Audience :: Developers',
        '{{ classifier_license }}',
        'Natural Language :: English',
        'Programming Language :: Python :: 2',
        'Programming Language :: Python :: 2.7',
        'Programming Language :: Python',
        'Topic :: Utilities',
    ],
)
