# -*- coding: utf-8 -*-
u"""{{ name }} setup script

{{ copyright_license_rst }}
"""
from pykern.pksetup import setup

setup(
    name='{{ name }}',
    description='{{ description }}',
    author='{{ author }}',
    author_email='{{ author_email }}',
    url='{{ url }}',
)
