argh
future
jinja2
# Clients use numpy, which must be installed before pip install of the client
# so include here for ease of use by the client. scipy needs numpy to be
# installed before, too, so this simplifies installs for scipy clients.
numpy
py
pytest-xdist
pytest
pytz
pyyaml
requests
setuptools
six
sphinx
tox
# IPython 3.x requires an older version of path.py:
# https://github.com/pickleshare/pickleshare/issues/8
path.py==7.7.1
ipython>=3.0.0,<4.0.0
