argh>=0.26
future>=0.14
jinja2>=2.7
py-cpuinfo>=0.2
py>=1.4
pytest-xdist>=1.12
pytest>=2.7
pytz>=2015.4
pyyaml>=3.0
requests>=2.7
# You can't force the version of setuptools to something like <=34.0, because
# tox has hardwired versions in its virtualenvs. Will have to work around
# setuptools issues (e.g. https://github.com/pypa/setuptools/issues/951)
# manually in each app's build env.
setuptools>=20.3
six>=1.9
# readthedocs fails with if you try to upgrade sphinx in the middle of the build.
# IOError: [Errno 2] No such file or directory: '/home/docs/checkouts/readthedocs.org/user_builds/pykern/envs/latest/lib/python2.7/site-packages/Sphinx-1.3.5.dist-info/METADATA'
# Force version due to:
# https://travis-ci.org/radiasoft/container-beamsim/builds/242817837
# pkg_resources.VersionConflict: (Sphinx 1.6.2 (/home/vagrant/.pyenv/versions/2.7.10/envs/py2/lib/python2.7/site-packages), Requirement.parse('sphinx==1.3.5'))
sphinx==1.3.5
tox>=1.9
path.py==7.7.1
python-dateutil>=2.4.2
