Welcome to {{ name }}
=================

{{ description }}

.. toctree::
   :maxdepth: 2

   {{ name }}
   modules

Indices and tables
==================

* :ref:`genindex`
* :ref:`modindex`
* :ref:`search`
